dist/welcome.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="assets/css/template.css"/>
    <link rel="stylesheet" href="../vendors/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../vendors/animate.css/animate.min.css"/>
    <title>BOG Test task</title>
  </head>
  <body>
    <header class="header"><a href="#" data-wow-delay=".2s" class="header__logo wow fadeIn">Logo</a>
      <div class="header__icons"><a href="#" data-wow-delay=".2s" class="header__icons-item wow fadeIn">
          <div class="fa fa-twitter"></div></a><a href="#" data-wow-delay=".3s" class="header__icons-item wow fadeIn">
          <div class="fa fa-facebook"></div></a><a href="#" data-wow-delay=".4s" class="header__icons-item wow fadeIn">
          <div class="fa fa-google-plus"></div></a></div>
    </header>
    <section class="welcome">
      <div class="welcome__hi vh-full">
        <div class="center"><img src="assets/img/ddc.png" alt="" class="fadeInUp wow welcome__hi-logo"/><img src="assets/img/subtitle.png" alt="" data-wow-delay="0.5s" class="fadeInUp wow welcome__hi-text fadeInUp wow"/>
          <div data-wow-delay="0.8s" class="welcome__hi-date fadeInUp wow">July 31, 2014 /// San francisco</div><a href="#" data-wow-delay="1.2s" class="welcome-btn fadeIn wow">
            <div class="text">Register now</div></a>
        </div>
      </div>
      <div class="container">
        <div class="vh-full welcome__world">
          <div class="welcome-textbox welcome__world-textbox column-4">
            <h1 class="welcome-textbox__title title title--gradiented-ry title--right wow fadeIn">What is ddc?</h1>
            <p data-wow-delay=".3s" class="welcome-textbox__text wow fadeIn"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi itaque tenetur optioobcaecati cumque!</p>
            <p data-wow-delay=".6s" class="welcome-textbox__desc wow fadeIn">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, omnis, hic! </p>
          </div>
          <div class="column-2"></div>
          <div class="column-6 welcome__world-globus wow zoomIn"><img src="assets/img/earth.png" alt="globus" class="img"/></div>
        </div>
        <div class="vh-full welcome__info">
          <div class="welcome__info-center">
            <div class="welcome-textbox welcome-textbox--full">
              <h1 class="welcome-textbox__title title title--gradiented wow fadeIn">The power of data</h1>
              <p data-wow-delay=".3s" class="welcome-textbox__text wow fadeIn"> Lorem impsuming dolor sitting amet</p>
              <p data-wow-delay=".6s" class="welcome-textbox__desc wow fadeIn"> Lorem ipsum dolor sit amet</p>
            </div>
            <div class="welcome-box">
              <div data-wow-delay=".7s" class="welcome-box__item welcome-box__item--first column-4 wow fadeIn">
                <div class="text">test info</div>
              </div>
              <div data-wow-delay=".9s" class="welcome-box__item welcome-box__item--third column-4 wow fadeIn">
                <div class="text">test info</div>
              </div>
              <div data-wow-delay="1.1s" class="welcome-box__item welcome-box__item--second column-4 wow fadeIn">
                <div class="text">test info</div>
              </div>
            </div>
          </div>
        </div>
        <div class="welcome__speakers">
          <div class="welcome-textbox welcome-textbox--full wow fadeIn">
            <h1 data-wow-delay=".3s" class="title title--gradiented-blue title--lg wow fadeIn">The power of data</h1>
            <p data-wow-delay=".6s" class="welcome-textbox__text wow fadeIn"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus deserunt, esse voluptatum, Lorem ipsum orem ipsum orem ipsum dolor sit amet,</p>
          </div>
          <div class="welcome__spekaers-title title title--simple wow fadeIn">Keynote speakers</div>
          <div class="welcome__speakers-container">
            <div class="person"><img src="assets/img/bin/person-photo.jpg" alt="" class="person__img wow fadeIn"/>
              <div class="person__shadow"></div>
              <div data-wow-delay=".3s" class="person__desc wow fadeIn">
                <div class="person__name">Donald askilashvili</div>
                <div class="person__position">General director</div>
              </div>
            </div>
            <div class="person"><img src="assets/img/bin/person-photo-2.jpg" alt="" class="person__img wow fadeIn"/>
              <div class="person__shadow"></div>
              <div data-wow-delay=".3s" class="person__desc wow fadeIn">
                <div class="person__name">Donald askilashvili</div>
                <div class="person__position">General director</div>
              </div>
            </div>
            <div class="person"><img src="assets/img/bin/person-photo-3.jpg" alt="" class="person__img wow fadeIn"/>
              <div class="person__shadow"></div>
              <div data-wow-delay=".3s" class="person__desc wow fadeIn">
                <div class="person__name">Donald askilashvili</div>
                <div class="person__position">General director</div>
              </div>
            </div>
          </div>
          <div class="welcome__spekaers-title title title--simple">Schedule</div>
          <div class="schedule">
            <div class="schedule-item wow fadeIn">
              <div class="schedule-item__colleft">
                <div class="schedule-item__time">12:30 - 1:30</div>
              </div>
              <div class="schedule-item__colcenter">
                <div class="schedule-item__stick"></div>
              </div>
              <div class="schedule-item__colright">
                <div class="schedule-item__name">Registration</div>
                <div class="schedule-item__desc"> Lorem ipsum dolor sit amet.</div>
              </div>
            </div>
            <div class="schedule-item wow fadeIn">
              <div class="schedule-item__colleft">
                <div class="schedule-item__time">1:30 - 1:40</div>
              </div>
              <div class="schedule-item__colcenter">
                <div class="schedule-item__stick"></div>
              </div>
              <div class="schedule-item__colright">
                <div class="schedule-item__name">Introductaion</div>
                <div class="schedule-item__desc"> Lorem ipsum dolor sit amet. Loreming ipsuming doluring bla</div>
              </div>
            </div>
            <div class="schedule-item wow fadeIn">
              <div class="schedule-item__colleft">
                <div class="schedule-item__time">1:40 - 2:20</div>
              </div>
              <div class="schedule-item__colcenter">
                <div class="schedule-item__stick"></div>
              </div>
              <div class="schedule-item__colright">
                <div class="schedule-item__name">Keynote</div>
                <div class="schedule-item__desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ullam minus tenetur voluptatum</div>
              </div>
            </div>
            <div class="schedule-item wow fadeIn">
              <div class="schedule-item__colleft">
                <div class="schedule-item__time">1:40 - 2:20</div>
              </div>
              <div class="schedule-item__colcenter">
                <div class="schedule-item__stick"></div>
              </div>
              <div class="schedule-item__colright">
                <div class="schedule-item__name">Pushing the boundaries: Using data at Scale</div>
                <div class="schedule-item__desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae incidunt eaque nihil ullam magni, explicabo quo excepturi eius ipsam minima consectetur et nisi, sed! Placeat, praesentium consequatur ab voluptate voluptatum!</div>
              </div>
            </div>
            <div class="schedule-item wow fadeIn">
              <div class="schedule-item__colleft">
                <div class="schedule-item__time">12:30 - 1:30</div>
              </div>
              <div class="schedule-item__colcenter">
                <div class="schedule-item__stick"></div>
              </div>
              <div class="schedule-item__colright">
                <div class="schedule-item__name">Registration</div>
                <div class="schedule-item__desc"> Lorem ipsum dolor sit amet.</div>
              </div>
            </div>
            <div class="schedule-item wow fadeIn">
              <div class="schedule-item__colleft">
                <div class="schedule-item__time">1:30 - 1:40</div>
              </div>
              <div class="schedule-item__colcenter">
                <div class="schedule-item__stick"></div>
              </div>
              <div class="schedule-item__colright">
                <div class="schedule-item__name">Introductaion</div>
                <div class="schedule-item__desc"> Lorem ipsum dolor sit amet. Loreming ipsuming doluring bla</div>
              </div>
            </div>
            <div class="schedule-item wow fadeIn">
              <div class="schedule-item__colleft">
                <div class="schedule-item__time">1:40 - 2:20</div>
              </div>
              <div class="schedule-item__colcenter">
                <div class="schedule-item__stick"></div>
              </div>
              <div class="schedule-item__colright">
                <div class="schedule-item__name">Keynote</div>
                <div class="schedule-item__desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ullam minus tenetur voluptatum</div>
              </div>
            </div>
            <div class="schedule-item wow fadeIn">
              <div class="schedule-item__colleft">
                <div class="schedule-item__time">1:40 - 2:20</div>
              </div>
              <div class="schedule-item__colcenter">
                <div class="schedule-item__stick"></div>
              </div>
              <div class="schedule-item__colright">
                <div class="schedule-item__name">After party</div>
                <div class="schedule-item__desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae incidunnsequatur ab voluptate voluptatum!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="welcome__hi welcome__hi--bottom">
        <div class="center"><img src="assets/img/ddc.png" alt="" class="fadeInUp wow welcome__hi-logo"/><img src="assets/img/subtitle.png" alt="" data-wow-delay="0.5s" class="fadeInUp wow welcome__hi-text fadeInUp wow"/>
          <div data-wow-delay="0.8s" class="welcome__hi-date fadeInUp wow">July 31, 2014 /// San francisco</div><a href="#" data-wow-delay="1.2s" class="welcome-btn fadeIn wow">
            <div class="text">Register now</div></a>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div id="googlemap"></div>
      <div class="footer__box wow zoomIn">
        <div class="footer__box-topstick"></div>
        <div class="footer__box-title">DDC Venue / <span class="date">07.31.2014</span></div>
        <div class="footer__box-stick"></div>
        <div class="footer__box-center">
          <div>
            <div class="text-green">Terra gallery</div>
            <div class="text">511  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias odio, modi voluptatum</div>
          </div>
          <div><img src="assets/img/footer-box.png" alt="" class="img"/></div>
        </div>
        <div class="footer__box-stick"></div>
        <div class="footer__box-end">
          <div>
            <div class="text">Location</div>
            <div class="text-lg">Rincon hill / soma</div>
          </div>
          <div>
            <div class="text">Space</div>
            <div class="text-lg">24,000 soft</div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_SMsrSSFHynrMtMrIfsaWu7y9S4KozAA&amp;callback=initMap" async="async" defer="defer"></script>
    <script src="../vendors/wow/dist/wow.min.js"></script>
    <script src="assets/js/main.min.js"></script>
  </body>
</html>

src/view/welcome.jade
include modules/mixins
include components/main

	block pagecontent
		include components/header
		section.welcome
			.welcome__hi.vh-full
				.center
					//- .welcome__hi-title ddc
					img(src="assets/img/ddc.png", alt="" class="fadeInUp wow").welcome__hi-logo
					img(src="assets/img/subtitle.png", alt="" class="fadeInUp wow" data-wow-delay="0.5s").welcome__hi-text.fadeInUp.wow
					.welcome__hi-date(class="fadeInUp wow" data-wow-delay="0.8s") July 31, 2014 /// San francisco
					a(href="#").welcome-btn(class="fadeIn wow" data-wow-delay="1.2s")
						.text Register now
			
			.container

				.vh-full.welcome__world
					.welcome-textbox.welcome__world-textbox.column-4
						h1.welcome-textbox__title.title.title--gradiented-ry.title--right.wow.fadeIn What is ddc?
						p.welcome-textbox__text.wow.fadeIn(data-wow-delay=".3s")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi itaque tenetur optioobcaecati cumque!
						p.welcome-textbox__desc.wow.fadeIn(data-wow-delay=".6s")   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, omnis, hic! 
					.column-2
					.column-6.welcome__world-globus.wow.zoomIn
						img(src="assets/img/earth.png", alt="globus").img

				.vh-full.welcome__info
					.welcome__info-center
						.welcome-textbox.welcome-textbox--full
							h1.welcome-textbox__title.title.title--gradiented.wow.fadeIn The power of data
							p.welcome-textbox__text.wow.fadeIn(data-wow-delay=".3s")  Lorem impsuming dolor sitting amet
							p.welcome-textbox__desc.wow.fadeIn(data-wow-delay=".6s")  Lorem ipsum dolor sit amet
						.welcome-box
							.welcome-box__item.welcome-box__item--first.column-4.wow.fadeIn(data-wow-delay=".7s")
								.text test info
							.welcome-box__item.welcome-box__item--third.column-4.wow.fadeIn(data-wow-delay=".9s")
								.text test info
							.welcome-box__item.welcome-box__item--second.column-4.wow.fadeIn(data-wow-delay="1.1s")
								.text test info

				.welcome__speakers
					.welcome-textbox.welcome-textbox--full.wow.fadeIn
						h1.title.title--gradiented-blue.title--lg.wow.fadeIn(data-wow-delay=".3s") The power of data
						p.welcome-textbox__text.wow.fadeIn(data-wow-delay=".6s")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus deserunt, esse voluptatum, Lorem ipsum orem ipsum orem ipsum dolor sit amet,
					.welcome__spekaers-title.title.title--simple.wow.fadeIn Keynote speakers
					.welcome__speakers-container
						+person('person-photo.jpg', 'Donald askilashvili', 'General director')
						+person('person-photo-2.jpg', 'Donald askilashvili', 'General director')
						+person('person-photo-3.jpg', 'Donald askilashvili', 'General director')
					.welcome__spekaers-title.title.title--simple Schedule
					.schedule
						+schedule('12:30 - 1:30', 'Registration', ' Lorem ipsum dolor sit amet.')
						+schedule('1:30 - 1:40', 'Introductaion', ' Lorem ipsum dolor sit amet. Loreming ipsuming doluring bla')
						+schedule('1:40 - 2:20', 'Keynote', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ullam minus tenetur voluptatum')
						+schedule('1:40 - 2:20', 'Pushing the boundaries: Using data at Scale', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae incidunt eaque nihil ullam magni, explicabo quo excepturi eius ipsam minima consectetur et nisi, sed! Placeat, praesentium consequatur ab voluptate voluptatum!')
						+schedule('12:30 - 1:30', 'Registration', ' Lorem ipsum dolor sit amet.')
						+schedule('1:30 - 1:40', 'Introductaion', ' Lorem ipsum dolor sit amet. Loreming ipsuming doluring bla')
						+schedule('1:40 - 2:20', 'Keynote', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ullam minus tenetur voluptatum')
						+schedule('1:40 - 2:20', 'After party', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae incidunnsequatur ab voluptate voluptatum!')

			.welcome__hi.welcome__hi--bottom
				.center
					//- .welcome__hi-title ddc
					img(src="assets/img/ddc.png", alt="" class="fadeInUp wow").welcome__hi-logo
					img(src="assets/img/subtitle.png", alt="" class="fadeInUp wow" data-wow-delay="0.5s").welcome__hi-text.fadeInUp.wow
					.welcome__hi-date(class="fadeInUp wow" data-wow-delay="0.8s") July 31, 2014 /// San francisco
					a(href="#").welcome-btn(class="fadeIn wow" data-wow-delay="1.2s")
						.text Register now
		include components/footer
